
#app hr{
    margin: 2em 0;
}

.label-title {
    color: #f3b79b;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 20px 0;
    font-size: 1em;
}

 /* soso f3b79b*/

input[type="radio"] {
   /* display: none;*/
}
label.color input[type="radio"]:checked +  span {
    transform: scale(1.25);
}
label.color input[type="radio"]:checked {
    border: 2px solid #711313;
}

label.color {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 12px;
    padding: 2px 0 2px 0;
}
label.color:hover span {
    transform: scale(1.25);
}
label.color span {
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: transform .2s ease-in-out;
}
label span.black {
    background: #000000;
}
label span.grey {
    background: #cccccc;
}
label span.gold {
    background: #cc9b1c;
}
label span.white {
    background: #ffffff;
    border: #fffedf 1px solid;
}
label span.beige {
    background: #F5F5DC;
}
label span.off-white {
    background: #fffedf;
}
label span.brown {
    background: #786600;
}

label span.red {
    background: #DB2828;
}
label span.orange {
    background: #F2711C;
}
label span.yellow {
    background: #FBBD08;
}
label span.lime {
    background: #B5CC18;
}
label span.olive {
    background: #306c16;
}
label span.green {
    background: #21BA45;
}
label span.teal {
    background: #00B5AD;
}
label span.blue {
    background: #2185D0;
}
label span.dark-blue {
    background: #170d91;
}
label span.turquoise {
    background: #2cd0c5;
}
label span.violet {
    background: #6435C9;
}
label span.purple {
    background: #A333C8;
}
label span.pink {
    background: #E03997;
}
label span.silver {
    background: #E4E4E4;
}

.lux-box{
    border-bottom: #ccc 1px solid;
    padding: 20px;
    transition:all 0.3s ease;
    background: #ffffff;
    border-top-width: 0;

}

.lux-box .collapse.show .card {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: scroll;
    padding: 2em;
    border: none;
}
.lux-box  .collapse.show .card span.btn{
    color: #ccc;
    font-size: 2em;
}
.lux-box  .collapse.show .card .tips {
    margin-top: 0 ;
}
.lux-box  .collapse.show .card .tips div.tip{
    opacity: 1;
    position: relative;
}

.lux-box  .collapse.show .card  .tips > div.tip > .photo {
    text-align: center;
}
.gn-li label.btn{
    padding: 20px 20px 20px 20px;
}

.lux-box-steps .number{
    font-size: 2rm;
    color: #f3b79b;
}
.lux-photo-title{
    padding: 20px;
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
    background: #cc6666;
}
.lux-photo-btn{
    border: #ccc 1px dashed;
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
    transition:all 0.3s ease;
    height: 100px;
}
.lux-photo-btn.is-invalid{
    border-color: #dc3545;
}
.lux-photo-btn span.title{
    margin: 40px 10px 0px 10px;
    display: block;
    font-size: 12px;
    color: #adadad;
}
.lux-photo-btn:hover {
    background: #f3b79b;
}

.lux-photo-btn .error {
    font-size: 12px;
}

.lux-ul-condition {
    margin: 0 !important;
    padding: 0 !important;
}
.lux-ul-condition li{
    float: left;
    margin-right: 10px;
}

.lux-info .info{
    display: none;
}

.tips {
    margin-top: 35px;
}
 .tips div.tip {
    font-size: 14px;
    opacity: 0;
    transition:all 0.3s ease;
     position: absolute;


}
.tips div.tip.show {
    opacity: 1;
}
.tips > div.tip > span{
    color: #f3b79b;
    font-weight: bold;
    display: block;
}
.tips > div.tip > .photo {
    padding: 10px 10px 10px 0;
}
.tips > div.tip > .photo img{
    height: auto;
    width: 260px;
}
/*////// Uploader Css ///*/
.uprogress{
    margin: auto 20px;
}
.bar {
    height: 10px;
    background: green;

}
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(74, 74, 74, 0.46);
    display: table;
}
.loader .td{
    display: table-cell;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}
.cb-input {
    cursor: pointer;
    color: #b5b7b9;
    font-size: 14px;
    padding-top: 7px;
    font-weight: normal;
    overflow: hidden;
    line-height: 24px; 
}

.cb-input.error{
    border: #cc6666 1px solid;
}


#appModalsP .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
#appModalsP .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #b5b7b9;
        opacity: 1; /* Firefox */
        font-size: 12px;
}
    
#appModalsP .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #b5b7b9;
        opacity: 1; /* Firefox */
        font-size: 12px;
    }
    
#appModalsP .form-control::-ms-input-placeholder { /* Microsoft Edge */
        color: #b5b7b9;
        opacity: 1; /* Firefox */
        font-size: 12px;
    
}
#appModalsP .cvemod .form-control::placeholder {  
    font-size: 1em;
    color: #f3b79b;
    font-weight: bold;
}

#appModalsP .cvemod .form-control::placeholder {  
    font-size: 1em;
    color: #f3b79b;
    font-weight: bold;
}
#appModalsP .dimension .form-group {
    margin-right: 10px;
}
#appModalsP .btn-smvi{
    background: #f3b79b!important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    float: left;
    font: 15px 'Lato', Arial, Sans-Serif;
    margin-right: 10px;
    padding: 15px;
    text-transform: uppercase;
}
#appModalsP .btn-smvi:hover{
    background: #d69d66!important;
}
#appModalsP .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-control{
    border-radius: 0;
}

.input-group .input-group-text {
    border-radius: 0;
    -webkit-border-radiud:0;
    background: #e5e5e5;
    font-size: 12px;
    
}

.input-group input[type=text]{

    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.cb-input::before {
    content: '';
    position: absolute;
    right: 24px;
    top: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #b5b7b9;
    clear: both;
}
.cb-input.disabled{
    background-color: #e9ecef;
    cursor: auto;
}





.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
    height: 100%;
}


.cvemod div.title {
    margin: 0 15px 20px 0;
    font-size: 1em;
    border-bottom: #f3b79b 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.cvemod div.title span{
    padding: 10px;
    display: block;
    color: #f3b79b;
    font-weight: bold;
    font-size: 1em;
}
.cvemod .col-box {
    background: #E4E4E4;
    padding-bottom: 20px;
    border-right: #fff 1px solid;
    padding-right: 0 !important;
}
.cvemod .col-box.disabled{
  opacity: 0.4;
}
.cvemod .col-box .search-wrapper-overlay{
   position: absolute;
   background: rgba(255, 255, 255, 0.69);
   width: 100%;
   height: 100%;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
}
.cvemod .col-box:last-child{
    border-right: none;
}
.cvemod .col-box  input[type=text] {
    font-size: 1em;
    border:none;
    background-color: transparent;
    padding: 20px 15px;
    color: #666;
}

.cvemod .search-wrapper {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.cvemod .search-wrapper .btn-group{
    display: block !important;
    margin-right: 15px;
}


.cvemod .search-wrapper .btn-ct {
    color: #808080;
    background-color: #e4e4e4;
    border-bottom: #dad2d2 1px solid;
    font-size: 14px;
    padding: 14px;
    text-transform: uppercase;
    border-radius: 0;
    text-align: left;
    margin: 0;
}


.cvemod .search-wrapper .btn-ct.active{
    background-color: rgba(243, 183, 155, 0.27);
    border-bottom: #f3b79b 1px dashed;
}


.cvemod .search-wrapper .btn-label {
    font-size: 14px;
    border-radius: 0;
    text-align: left;
    margin: 0;
    color: #808080;
    border-bottom: #dad2d2 1px solid;
    display: block;
    padding-bottom: 14px;
}
.cvemod .search-wrapper .btn-ct:focus,.cvemod .search-wrapper .btn-ct:active {
    border-color: transparent;
    background-color: #e4e4e4;
    border-bottom: #ababab 1px dashed;
    box-shadow: none !important;
   -webkit-box-shadow:none !important;
   outline: none !important ;
}
#appModalsP .has-error {
    white-space: pre-line; display:block !important; 
    margin: 0;
    padding: 0;
}
.cvemod .search-wrapper .cl-d{
    float: left;
    width: 50%
}

body.modal-open .mm-slideout{
    z-index: unset;
}
/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}